# Serveur
PORT=5050
NODE_ENV=development
APP_URL=http://localhost:5173

# MySQL
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

# Brevo (emails transactionnels)
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=no-reply@yourdomain.com
BREVO_SENDER_NAME=Starter Kit

# DeepL
DEEPL_API_KEY=your_deepl_api_key

# BoardGameGeek (BGG) API
BGG_API_KEY=your_bgg_api_token
